.appContainer {
  display: flex;
  justify-content: space-around;
}
.appPostsContainer{
  display: flex;
  flex-direction: column;
}
.bestPostContainer{
  display: flex;
  flex-direction: row;  
  justify-content: space-around;
  width: 50%;
}
.disabled{
  opacity: 0.3;
}